.u-section-1 .u-sheet-1 {
  min-height: 289px;
}

.u-section-1 .u-text-1 {
  font-family: Tajawal-Bold;
  margin: 56px auto 0;
}

.u-section-1 .u-list-1 {
  width: 815px;
  margin: 14px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 100px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  font-family: Tajawal-Light;
  margin: 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  font-family: Tajawal-Light;
  margin: 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  font-family: Tajawal-Light;
  margin: 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  font-family: Tajawal-Light;
  margin: 0 auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 353px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
}@font-face {
  font-family: 'Tajawal-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tajawal-Bold.ttf);
}@font-face {
  font-family: 'Tajawal-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tajawal-Light.ttf);
}