.u-section-1 .u-sheet-1 {
  min-height: 950px;
}

.u-section-1 .u-tabs-1 {
  min-height: 468px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  font-family: Tajawal-Light;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-table-1 {
  width: 712px;
  margin: 0 auto;
}

.u-section-1 .u-table-header-1 {
  font-family: Tajawal-Bold;
}

.u-section-1 .u-table-cell-1 {
  font-family: Tajawal-Bold;
}

.u-section-1 .u-table-cell-2 {
  font-family: Tajawal-Bold;
}

.u-section-1 .u-table-cell-3 {
  font-family: Tajawal-Bold;
}

.u-section-1 .u-table-cell-4 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-5 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-6 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-7 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-9 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-10 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-11 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-12 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-13 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-15 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-16 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-17 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-18 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-19 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-21 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-22 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-23 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-24 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-25 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-26 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-27 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-28 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-30 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-31 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-32 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-33 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-34 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-36 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-37 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-38 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-39 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-40 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-42 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-43 {
  font-family: Arvo-Regular;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-45 {
  font-family: Tajawal-Light;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 914px;
  }

  .u-section-1 .u-table-1 {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }
}@font-face {
  font-family: 'Tajawal-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tajawal-Light.ttf);
}@font-face {
  font-family: 'Tajawal-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tajawal-Bold.ttf);
}@font-face {
  font-family: 'Arvo-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Arvo-Regular.ttf);
}