.u-section-1 .u-sheet-1 {
  min-height: 4328px;
}

.u-section-1 .u-text-1 {
  font-family: Tajawal-Bold;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Tajawal-Light;
  margin: 14px auto 0;
}

.u-section-1 .u-table-1 {
  width: 651px;
  margin: 9px auto 0;
}

.u-block-baa8-46 {
  background-image: none;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-2 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-3 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-4 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-35 {
  background-image: none;
}

.u-section-1 .u-text-3 {
  font-family: Tajawal-Light;
  margin: 63px auto 0 510px;
}

.u-section-1 .u-table-2 {
  width: 651px;
  margin: 15px auto 0;
}

.u-block-baa8-56 {
  background-image: none;
}

.u-section-1 .u-table-entity-2 {
  min-height: 100px;
}

.u-section-1 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-6 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-7 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-8 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-9 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-10 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-75 {
  background-image: none;
}

.u-section-1 .u-text-4 {
  font-family: Tajawal-Light;
  margin: 63px auto 0 475px;
}

.u-section-1 .u-table-3 {
  width: 651px;
  height: 429px;
  margin: 20px auto 0 245px;
}

.u-block-baa8-81 {
  background-image: none;
}

.u-section-1 .u-table-entity-3 {
  min-height: 100px;
}

.u-section-1 .u-table-header-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-12 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-13 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-14 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-15 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-16 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-17 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-18 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-19 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-20 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-21 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-22 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-23 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-24 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-100 {
  background-image: none;
}

.u-section-1 .u-text-5 {
  font-family: Tajawal-Light;
  margin: 140px auto 0 516px;
}

.u-section-1 .u-table-4 {
  width: 651px;
  height: 201px;
  margin: 15px auto 0 245px;
}

.u-block-baa8-106 {
  background-image: none;
}

.u-section-1 .u-table-entity-4 {
  min-height: 100px;
}

.u-section-1 .u-table-header-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-26 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-27 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-28 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-29 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-30 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-125 {
  background-image: none;
}

.u-section-1 .u-text-6 {
  font-family: Tajawal-Light;
  margin: 63px auto 0 525px;
}

.u-section-1 .u-table-5 {
  width: 651px;
  height: 200px;
  margin: 15px auto 0 245px;
}

.u-block-baa8-156 {
  background-image: none;
}

.u-section-1 .u-table-entity-5 {
  min-height: 100px;
}

.u-section-1 .u-table-header-5 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-31 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-32 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-33 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-34 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-35 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-36 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-175 {
  background-image: none;
}

.u-section-1 .u-text-7 {
  font-family: Tajawal-Light;
  margin: 63px auto 0 468px;
}

.u-section-1 .u-table-6 {
  width: 651px;
  height: 122px;
  margin: 15px auto 0 245px;
}

.u-block-baa8-181 {
  background-image: none;
}

.u-section-1 .u-table-entity-6 {
  min-height: 100px;
}

.u-section-1 .u-table-header-6 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-37 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-38 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-39 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-40 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-200 {
  background-image: none;
}

.u-section-1 .u-text-8 {
  font-family: Tajawal-Light;
  margin: 63px auto 0 491px;
}

.u-section-1 .u-table-7 {
  width: 651px;
  height: 200px;
  margin: 15px auto 0 245px;
}

.u-block-baa8-206 {
  background-image: none;
}

.u-section-1 .u-table-entity-7 {
  min-height: 100px;
}

.u-section-1 .u-table-header-7 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-41 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-42 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-43 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-44 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-45 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-46 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-225 {
  background-image: none;
}

.u-section-1 .u-text-9 {
  font-family: Tajawal-Bold;
  margin: 98px auto 0;
}

.u-section-1 .u-text-10 {
  font-family: Tajawal-Light;
  margin: 63px auto 0 529px;
}

.u-section-1 .u-table-8 {
  width: 651px;
  height: 125px;
  margin: 15px auto 0 245px;
}

.u-block-baa8-256 {
  background-image: none;
}

.u-section-1 .u-table-entity-8 {
  min-height: 100px;
}

.u-section-1 .u-table-header-8 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-47 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-48 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-49 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-50 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-275 {
  background-image: none;
}

.u-section-1 .u-text-11 {
  font-family: Tajawal-Light;
  margin: 63px auto 0 523px;
}

.u-section-1 .u-table-9 {
  width: 651px;
  height: 125px;
  margin: 15px auto 0 245px;
}

.u-block-baa8-281 {
  background-image: none;
}

.u-section-1 .u-table-entity-9 {
  min-height: 100px;
}

.u-section-1 .u-table-header-9 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-51 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-52 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-53 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-54 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-300 {
  background-image: none;
}

.u-section-1 .u-text-12 {
  font-family: Tajawal-Light;
  margin: 63px auto 0 503px;
}

.u-section-1 .u-table-10 {
  width: 651px;
  height: 124px;
  margin: 15px auto 0 245px;
}

.u-block-baa8-306 {
  background-image: none;
}

.u-section-1 .u-table-entity-10 {
  min-height: 100px;
}

.u-section-1 .u-table-header-10 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-55 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-56 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-57 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-58 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-325 {
  background-image: none;
}

.u-section-1 .u-text-13 {
  font-family: Tajawal-Light;
  margin: 63px auto 0 525px;
}

.u-section-1 .u-table-11 {
  width: 651px;
  height: 123px;
  margin: 15px auto 0 245px;
}

.u-block-baa8-331 {
  background-image: none;
}

.u-section-1 .u-table-entity-11 {
  min-height: 100px;
}

.u-section-1 .u-table-header-11 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-59 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-60 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-61 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-62 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-350 {
  background-image: none;
}

.u-section-1 .u-text-14 {
  font-family: Tajawal-Light;
  margin: 63px auto 0 484px;
}

.u-section-1 .u-table-12 {
  width: 651px;
  height: 200px;
  margin: 15px auto 0 245px;
}

.u-block-baa8-356 {
  background-image: none;
}

.u-section-1 .u-table-entity-12 {
  min-height: 100px;
}

.u-section-1 .u-table-header-12 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-63 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-64 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-65 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-66 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-67 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-68 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-375 {
  background-image: none;
}

.u-section-1 .u-text-15 {
  font-family: Tajawal-Light;
  margin: 63px auto 0 472px;
}

.u-section-1 .u-table-13 {
  width: 651px;
  height: 124px;
  margin: 15px auto 0 245px;
}

.u-block-baa8-384 {
  background-image: none;
}

.u-section-1 .u-table-header-13 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-69 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-70 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-71 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-72 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-403 {
  background-image: none;
}

.u-section-1 .u-text-16 {
  font-family: Tajawal-Light;
  margin: 63px auto 0 475px;
}

.u-section-1 .u-table-14 {
  width: 651px;
  height: 126px;
  margin: 15px auto 60px 245px;
}

.u-block-baa8-409 {
  background-image: none;
}

.u-section-1 .u-table-header-14 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-73 {
  font-family: Tajawal-Light;
}

.u-section-1 .u-table-cell-74 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-75 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-76 {
  font-family: Tajawal-Light;
  font-size: 1.125rem;
}

.u-block-baa8-428 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4293px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 421px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-table-3 {
    margin-right: 134px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 63px;
    margin-left: auto;
  }

  .u-section-1 .u-table-4 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 414px;
    margin-left: auto;
  }

  .u-section-1 .u-table-5 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-table-6 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 380px;
    margin-left: auto;
  }

  .u-section-1 .u-table-7 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 80px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 43px;
    margin-left: auto;
  }

  .u-section-1 .u-table-8 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-table-9 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-table-10 {
    height: 120px;
    margin-top: 20px;
    margin-left: 145px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 425px;
  }

  .u-section-1 .u-table-11 {
    margin-top: 20px;
    margin-left: 145px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-left: 384px;
  }

  .u-section-1 .u-table-12 {
    margin-top: 20px;
    margin-left: 145px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-left: 372px;
  }

  .u-section-1 .u-table-13 {
    height: 121px;
    margin-top: 20px;
    margin-left: 145px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-left: 375px;
  }

  .u-section-1 .u-table-14 {
    height: 120px;
    margin-top: 63px;
    margin-left: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4296px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 62px;
  }

  .u-section-1 .u-table-3 {
    margin-right: 69px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 58px;
  }

  .u-section-1 .u-table-4 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 62px;
    margin-right: 317px;
  }

  .u-section-1 .u-table-5 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 291px;
  }

  .u-section-1 .u-table-7 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 101px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 58px;
    margin-left: 318px;
  }

  .u-section-1 .u-table-8 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 313px;
  }

  .u-section-1 .u-table-9 {
    margin-top: 34px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 293px;
  }

  .u-section-1 .u-table-10 {
    height: 124px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 315px;
  }

  .u-section-1 .u-table-11 {
    margin-top: 34px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 274px;
  }

  .u-section-1 .u-table-12 {
    margin-top: 16px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 262px;
  }

  .u-section-1 .u-table-13 {
    height: 120px;
    margin-top: 19px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 287px;
  }

  .u-section-1 .u-table-14 {
    height: 123px;
    margin-top: 20px;
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6006px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
  }

  .u-section-1 .u-table-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 63px;
    margin-left: 216px;
  }

  .u-section-1 .u-table-4 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 238px;
    margin-left: 225px;
  }

  .u-section-1 .u-table-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: 168px;
  }

  .u-section-1 .u-table-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-8 {
    margin-right: 218px;
    margin-left: 191px;
  }

  .u-section-1 .u-table-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: 1220px;
    margin-left: 239px;
  }

  .u-section-1 .u-table-8 {
    width: 540px;
    height: 429px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: -274px;
    margin-left: 235px;
  }

  .u-section-1 .u-table-9 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: 703px;
    margin-left: 219px;
  }

  .u-section-1 .u-table-10 {
    width: 540px;
    height: 429px;
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: -270px;
    margin-left: 244px;
  }

  .u-section-1 .u-table-11 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-14 {
    margin-left: 205px;
  }

  .u-section-1 .u-table-12 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-15 {
    margin-left: 172px;
  }

  .u-section-1 .u-table-13 {
    height: 124px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-16 {
    margin-left: 191px;
  }

  .u-section-1 .u-table-14 {
    height: 429px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4125px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
  }

  .u-section-1 .u-table-3 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 136px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 150px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 106px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 137px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 43px;
    margin-left: 137px;
  }

  .u-section-1 .u-table-8 {
    height: 125px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-11 {
    margin-left: 148px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 116px;
  }

  .u-section-1 .u-table-10 {
    margin-top: 20px;
    height: 124px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: 62px;
    margin-left: 154px;
  }

  .u-section-1 .u-table-11 {
    margin-top: 17px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    margin-top: 64px;
    margin-left: 129px;
  }

  .u-section-1 .u-table-12 {
    margin-top: 14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-15 {
    margin-top: 64px;
    margin-left: 123px;
  }

  .u-section-1 .u-table-13 {
    margin-top: 14px;
    height: 120px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-16 {
    margin-left: 120px;
  }

  .u-section-1 .u-table-14 {
    height: 121px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}@font-face {
  font-family: 'Tajawal-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tajawal-Bold.ttf);
}@font-face {
  font-family: 'Tajawal-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Tajawal-Light.ttf);
}